* {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

body {
    color : #FFFFFF;
    background-color: #323232;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, .titre{
  font-family: 'Fira Sans', sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

.content {
  width: auto;
  height: auto;
}

.top {
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: nowrap;
  flex-shrink: 1;
  align-items: stretch;
  justify-content: space-around;
  height: 1000px;
  color: #000000;
  background: #E0E0E0;
}

.name {

}
