* {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

body {
    color : #FFFFFF;
    background-color: #323232;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, .titre{
  font-family: 'Fira Sans', sans-serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 22px;
}

ul {
  columns: 1;
}

.content {
  width: auto;
  height: auto;
}

.CV {
  margin: 0 15% 0 15%;
}

.titre {
  text-align: center;
  margin: 10% 0% 10% 0%
}

.liste {
  float: none;
  display: flex;
  flex-direction: row;
  flex-shrink: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-evenly;
}

.gauche, .droite {
  width: 40%;
  height: 100%;
}

.gauche {
  float: left;
  margin-right: 10%;
}

.droite {
  margin-right: 0;
}

.dessous {
  width: 100%;
  margin-top: 30px;
  padding: 5px;
  display: flex;
  flex: auto;
  align-items: stretch;
  align-content: space-between;
}

.competences > h4 {
  flex: auto;
  text-align: center;
}

.dessous > p {
  flex: auto;
  text-align: center;
  margin:5px;
}

.diplomes, .competences, .interrests {
  display: flex;
  margin: auto;
  flex-direction: column;
}

.diplomes {
  flex-direction: row;
  flex-shrink: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-evenly;
}

.interrests {
  flex-direction: row;
  flex-shrink: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: space-evenly;
}


.top {
  width: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: nowrap;
  flex-shrink: 1;
  align-items: stretch;
  justify-content: space-around;
  height: 1000px;
  color: #000000;
  background: #E0E0E0;
}

.name {

}
